.btn-blue{
  padding-left: 44px;
  padding-right: 44px;
  padding-top: 14px;
  padding-bottom: 15px;
  text-transform: uppercase;
  border: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
}